{% extends 'ativos/base.html' %}

{% block conteudo %}

{% if not ativo %}
<h2>Editar Ativo</h2>
<form method="POST">
    {% csrf_token %}
    <label>Digite o ID do ativo:</label>
    <input type="number" name="id" required>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

{% if erro %}
<p class="erro">{{ erro }}</p>
{% endif %}

{% else %}
<h2>Editando: {{ ativo.hostname }}</h2>

<form method="POST" >
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ ativo.id }}">

    <label>Hostname:</label>
    <input type="text" name="hostname" value="{{ ativo.hostname }}" required>

    <label>Responsável:</label>
    <input type="text" name="responsavel" value="{{ ativo.responsavel }}" required>

    <label>Setor:</label>
    <input type="text" name="setor" value="{{ ativo.setor }}" required>

    <label>Tipo de Ativo:</label>
    <select name="tipo">
        {% for valor, nome in tipos %}
        <option value="{{ valor }}" {% if valor == ativo.tipo %}selected{% endif %}>{{ nome }}</option>
        {% endfor %}
    </select>

    <button type="submit" class="btn btn-warning">Salvar</button>
    <a href="/" class="btn btn-danger">Cancelar</a>
</form>
{% endif %}

{% endblock %}